@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.1rem;
}

.btn-1 {
    width: fit-
    ;
    height: 2.4rem;
    padding: 0.6rem 2rem;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: .3s;
}

.btn-1:hover {
    color: blueviolet;
    background-color: white;
    border: 0.1rem dashed blueviolet;
    transition: .3s;
}

.alert-error {
    width: 22rem;
    padding: 0.6rem;
    margin-bottom: 1.6rem;
    text-align: center;
    color: white;
    background-color: blueviolet;
    border-radius: 0.6rem;
    transition: .3s;
}

#main-app {
    width: fit-content;
    height: fit-content;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.8rem;
}

.main__blur {
    width: 75%;
    height: 80%;
    background-color: white;
    position: absolute;
    z-index: 5;
    filter: blur(0.5rem);
    opacity: 0.95;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.select-content {
    width: 100%;
}

select {
    width: 100%;
    height: fit-content;
    padding: 0.6rem;
    border: 0.1rem solid blueviolet;
    border-radius: 0.6rem;
}

.btn-content {
    width: 100%;
    height: 2.6rem;
    display: flex;
    justify-content: center;
}

.question__text {
    width: 22rem;
    padding: 0 1rem;
    margin: 0;
    margin-top: 1rem;
    border: 0.1rem dashed blueviolet;
    border: 0.6rem;
    color: black;
    text-align: justify;
    font-size: 1rem;
}

#answers {
    width: 22rem;
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answers__item {
    font-size: 0.9rem;
    height: fit-content;
    display: flex;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    background-color: transparent;
    border: 0.1rem solid blueviolet;
    border-radius: 0.6rem;
    transition: .2s;
}

.answers__item:hover {
    color: white;
    background-color: blueviolet;
    border: 0.1rem solid blueviolet;
    transition: .2s;
}

.stats {
    margin: 0;
    margin-top: 2rem;
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blueviolet;
    background-color: rgb(240, 240, 240);
    border-radius: 0.6rem;
}

.main__btn-next {
    margin-top: 1rem;
}

.main__result-answer {
    position: absolute;
    height: fit-content;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0.8rem;
    color: white;
    background-color: blueviolet;
    border-radius: 0.6rem;
    z-index: 10;
}